.display {
	display: flex;
	justify-content: space-around;
}
.company-element {
	position: relative;
	width: 250px;
	height: 150px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	background-color: #9900CC;
	box-shadow: 1px 1px 3px grey;
	cursor: pointer;
}
.company-element:hover { box-shadow: 3px 3px 5px grey; }
.add-element,
.new-element {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 25px;
	height: 25px;
	background-image: url('../images/add.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.new-element { background-image: url('../images/list.png'); }
.company-title { width: 120px; }
.btn-contact {
	border: 1px solid grey;
	padding: 0px 15px;
	position: absolute;
	height: 30px;
	bottom: 0;
	left: 0;
	background-color: #009900;
	color: white;
	transition: .3s ease;
}
.btn-contact:hover {
	background-color: #33CC33;
	color: white;
}
.btn-link {
	display: block;
	margin: 10px 0 0 10px;
	color: white;
}
.btn-link:hover {
	color: silver;
	text-decoration: underline;
}
.contact {
	position: absolute;
	bottom: 5px;
	left: 5px;
	max-width: 80%;
}

.message {
	display: none;
	width: 80%;
	height: 50px;
	position: fixed;
	top: 3%;
	left: 15%;
	border: 1px solid red;
	background-color: white;
	box-shadow: 1px 1px 5px grey;
	border-radius: 7px;
}
.m-danger { border: 1px solid red; }
.m-success { border: 1px solid green; }