.window {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	border: 1px solid lightgrey;
	overflow: auto;
}
.display-content>form {
	width: 65%;
	border: 1px solid lightgrey;
	box-shadow: 1px 1px 3px grey;
	padding: 15px 40px;
}
.buttons {
	position: fixed;
	display: flex;
	justify-content: space-around;
	top: 13%;
	right: 8%;
	width: 300px;
	max-height: 150px;
	padding: 25px;
	border: 1px solid silver;
	border-radius: 5px
}

.wbtn {
	border: 1px solid lightgrey;
	box-shadow: 1px 1px 5px grey;
	outline: none;
	color: black;
	background-color: white;
	padding: 3px 7px;
	border-radius: 3px;
	transition: .3s ease;
}
.wbtn:active, .wbtn:focus { outline: none; }
.success { 
	border: 1px solid #009900;
	color: #009900;
}
.cancel {
	border: 1px solid #9900CC;
	color: #9900CC;
}
.success:hover {
	background-color: #009900;
	color: white;
}
.cancel:hover {
	background-color: #9900CC;
	color: white;
}